<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/commentList.css">
  <script src="./vendor/vue/vue.js"></script>
  <script src="./vendor/jquery/jquery.js"></script>
  <title>留言列表</title>
</head>
<body>
  <div class="app-page">
    <div class="commnent-card" v-for="item in commentList">
      <div class="comment-header">
          <div>留言</div>
          <div class="date">{{item.commentDate}}</div>
      </div>
      <div class="comment-body">  
        {{item.commentContent}}
      </div>
      <div class="show-replay" @click="showReply(item)" v-if="item.isReply" v-show="!item.isShowReply">查看回复</div>
      <div class="reply-panel" v-show="item.isShowReply">
        <div class="reply-header">
          <div>留言回复</div>
          <div class="date">{{item.replyDate}}</div>
        </div>
        <div class="reply-body">{{item.replyContent}}</div>
        <div class="collapse-reply" @click="collapseReply(item)">收起回复</div>
      </div>
    </div>
  </div>

<script>
  var commentListEl = new Vue({
    el: '.app-page',
    name: 'commentListEl',
    data: {
      commentList: []
    },
    mounted: function() {
      var self = this;
      $.ajax({
        url: '/getCommentLisData',
        type: 'post',
        dataType: 'json',
        success: function(res) {
          if(res.success){
            self.commentList = res.body.map(function(el, index){
              var commentDateStr = self.timeStamp2Date(Number(el.commentDate));
              var item = {};
              item.commentContent = el.commentText;
              item.commentDate = commentDateStr;
              if(el.isReply){
                var replyDateStr = self.timeStamp2Date(Number(el.replyDate));
                item.replyContent = el.replyText;
                item.replyDate = replyDateStr;
                item.isReply = el.isReply;
              }
              item.isShowReply = false;
              return item;
            });
          } else {
            self.commentList = [];
          }
          
        },
        error: function(err) {
          
        },
      })
    },
    methods: {
      showReply: function(item) {
        item.isShowReply = true;
      },
      collapseReply: function(item) {
        item.isShowReply = false;
      },
      timeStamp2Date: function(timeStamp) {
        var date_obj = new Date(tiemstamp);
				var years = date_obj.getFullYear();
				var month = date_obj.getMonth() < 9 ? ('0' + (date_obj.getMonth() + 1)) : (date_obj.getMonth() + 1);
				var day = date_obj.getDate() < 10 ? ('0' + date_obj.getDate()) : date_obj.getDate();
				var hour = date_obj.getHours() < 10 ? ('0' + date_obj.getHours()) : date_obj.getHours();
				var minute = date_obj.getMinutes() < 10 ? ('0' + date_obj.getMinutes()) : date_obj.getMinutes();
				var second = date_obj.getSeconds() < 10 ? ('0' + date_obj.getSeconds()) : date_obj.getSeconds();
				var date_str = `${years}-${month}-${day} ${hour}:${minute}:${second}`;
				return date_str;
      },
    }
  })
</script>
</body>
</html>