.app-page {
  .title {
    font-size: 22px;
    padding: 10px;
    font-weight: 700;
  }
  .el-form-item {
    margin-bottom: 10px;
  }
  .operate-panel {
    text-align: center;
    margin-top: 20px;
  }
}